@import "../../vars.css";

.container{
    position: absolute;
    width: 100%;
    overflow: hidden;
    font-size: 48px;
    font-weight: 700;
    
}

.heroImageIcon{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
  
}
.weCrushYour{
    text-transform: capitalize;
    display: inline-block;
    width: 1100px;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 100%;
}

  .weCrushYourCompetitorsGoaParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--color-white);
    position: relative;
    top: 394px;
    bottom: 40px;
    left: 80px;
    background: linear-gradient(256.73deg, #1cbddd 27.86%, #4dca79), #fff;
    width: 100%;
    flex-direction: column;
    padding: 24px var(--padding-21xl) 32px;
    box-sizing: border-box;
    gap: var(--gap-xl);
  }

  @media screen and (min-width : 1440px){

    .container{
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-size: 38px;
      font-weight: 500;
      
  }

  .weCrushYourCompetitorsGoaParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--color-white);
    position: relative;
    top: 400px;
    bottom: 40px;
    left: 80px;
    background: linear-gradient(256.73deg, #1cbddd 27.86%, #4dca79), #fff;
    width:1150px;
    flex-direction: column;
    padding: 24px var(--padding-21xl) 32px;
    box-sizing: border-box;
    gap: var(--gap-xl);
  }
 
  
  }



@media screen and (max-width: 1200px) {

  .container{
    font-size: 48px;
    
}

.heroImageIcon{
  position: relative;
  width: 1200px;
  height: 763px;
  object-fit: cover;
}

.weCrushYourCompetitorsGoaParent{
   position: absolute;
    top: 455px;
    left: 80px;
    background: linear-gradient(256.73deg, #1cbddd 27.86%, #4dca79), #fff;
    width: 630px;
    height: 306px;
    flex-direction: column;
    padding: 24px var(--padding-21xl) 32px;
    box-sizing: border-box;
    gap: var(--gap-xl);

}


}

@media screen and (max-width: 768px) {

  .container{ 
    font-size: 48px;

}

.weCrushYour {

  align-self: stretch;
  line-height: 100%;
  letter-spacing: -0.02em;
  width:768px;
  padding: 0 10px 0px 0px;


}

.heroImageIcon{
    position: relative;
    top: 26px;
    width: 768px;
    height:489px;
    object-fit: cover;
}

.weCrushYourCompetitorsGoaParent{
position:absolute ;
top: 515px;
width: 768px;
height: 258px;
box-sizing: border-box;
align-items: flex-start;
flex-direction: column;
padding: 24px var(--padding-21xl) 32px;
left: 0;
gap: 20px;

}


}

@media screen and (max-width: 375px) {

  .container{
      font-size: 36px;
  
  }
  
  .heroImageIcon{
      position: relative;
      top: 60px;
      width: 375px;
      height: 239px;
      object-fit: cover;
  }
  
  .weCrushYourCompetitorsGoaParent{
  position:absolute ;
  top: 295px;
  width: 375px;
  height: 294px;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  left: 0;
  padding: 24px var(--padding-xl) 32px;
  gap: var(--gap-xl);
  
  }
  
  .weCrushYour{
    align-self: stretch;
   letter-spacing: -0.02em;
   line-height: 100%;
    width: 375px;
    display: inline-block;
    padding: 0 10px 0px 0px;
  }
  
  }

 

